.at-nav-bar {
  .at-nav-bar__left-view {
    flex: 1
  }
}

.acticle_h3 {
  width: 96%;
  margin: 0 auto;
}

.basicInfoWrap {
  display: flex;
}

.divideLine {
  width: 750px;
  height: 1PX;
  background-color: #cccccc;
  margin: 20px 0
}

.detailHtmlWrap {
  padding-bottom: 20px;

  p {
    width: 96%;
    margin: 0 auto;
    font-size: 16PX;

    a {
      word-break: break-all
    }
  }

  img {
    width: 750px;
  }
}
